<div class="ng-container">
  <div class="header">
  <!-- logo image -->
<img src="/assets/images/howrse.png">
<div>
  <h2>Choose a horse...</h2>
  <div style="display: flex; justify-content: center;">
  <img src="/assets/images/horse-alz-b.png">
</div>
<div class="row">
  <!-- list of breeds  -->
  <div class="col-sm-3">
    <ul class="breed-list align-right">
      <h3>Breeds</h3>
      <li>French Trotter</li>
      <li>Shetland (Pony)</li>
      <li>Quarter Horse</li>
      <li>Holsteiner</li>
      <li>Gypsy Vanner</li>
      <li>Curly</li>
      <li>Argentinean Criollo</li>
      <li>KWPN</li>
      <li>Canadian horse</li>
      <li>Newfoundland Pony (Pony)</li>
      <li>29 other breeds to discover</li>
    </ul>
  </div>
  <div class="col-sm-3">
  </div>
  <!-- list of coats  -->
  <div class="col-sm-3">
    <ul class="coat-list align-left">
      <h3>Coats</h3>
      <li>Chestnut</li>
      <li>Bay</li>
      <li>Liver chestnut</li>
      <li>Dark Bay</li>
      <li>Cherry Bay</li>
      <li>Black</li>
      <li>Flaxen Chestnut</li>
      <li>1 other coat to discover</li>
    </ul>
  </div>
</div>
</div>
