/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

body {
  background-image: url('assets/images/background.jpg');
  background-repeat: no-repeat;
  /*background-color: #BFD16C; greenish color */
}

.btn-play {
  color: #f2f2f2;
  background-color: #748042;
  border-color: #656f3b;
  font-weight: 600;
}
